.login-container{
    display: flex;
    flex-direction: row;
    width: 100vh;
    justify-content: space-around;
    align-items: center;
} s
.style{
    display: flex;
    flex-direction: column;
    height: 300px;
    
}
.login-form{
    width: 500px;
    display: flex;
    flex-direction: column;
}